body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    font-size: 34px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 10px;
    margin-left: 30px;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-right: 25px;
    padding: 20px;
    gap: 45px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    color:#F9FAF8;
    display: flex;
    height: 500px;
    justify-content: space-around;
    
}

.hero-img {
    max-height: 300px;
    max-width: 450px;
    border: solid 4px #e5e7eb;
}

.hero-content {
    max-height: 150px;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-content p {
    font-size: 18px;
    color:#e5e7eb;
    
}

.hero button {
    background-color: #3882f6;
    color:#F9FAF8;
    height: 40px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.hero button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    gap: 50px;
    
}

.info {
    padding: 10px;
    text-align: center;
}

.info p {
    font-size: 22px;
font-weight: 600;
}

.info img {
    border: solid 5px #3882f6;
    border-radius: 10px;
}

.title {
    font-size: 40px;
    font-weight:800;
    color:#1f2937;
    padding: 20px;
}

.quote {
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimony {
    height: 210px;
    width: 600px;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.author {
    width: 600px;
    align-self: flex-end;
    font-weight:700;
    font-size: 30px;
}